*
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #d5e5e6;
    padding: 10px;
    font-family: "Freight Sans Small Caps", "Verdana", arial, tahoma;
}
a
{
	color: #eee;
    cursor:pointer;
    opacity: 0.8;
    transition: all 200ms;
}

a:hover
{
    opacity: 1;
}


div#base-area a.link
{
    color: #fff;
    text-decoration: underline;
}

div.entity
{
    background-color: #2c3e50;
    margin: 5px;
    padding: 5px;
    min-width: 10vw;
}

div.entity .title
{
    color: #ccf;
}

div.entity div.entity-content
{
    padding: 10px;
    background-color: #7c8a99;
    color: #123;
}

a.action,
p.static
{
    padding: 8px 10px;
}

div.entity a.action
{
    margin: 5px;
    text-decoration: none;
    color: #e3e3e3;
    font-weight: 300;
    text-align: center;
    background: #111235;
    display: inline-block;
    min-width: 25px;
}

div.entity a.action:hover
{
    background-color: #141539;
    color: #ccf;
}

a.action.error
{
    background-color: #d02626;
}

a.action.ok
{
    background-color: #1b9344;
}

div#win-layer
{
    display: none;
    z-index: 100;
    background-color: rgba(200,200,200,0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
}

div.window
{
    z-index: 1000;
    position: absolute;
    margin: 5vw;

    max-width: 90vw;
    max-height: 90vh;
    background: #448;
    border: 1px solid #ccf;
    box-shadow: 0px 0px 10px #222;
    overflow: auto;
}

div.window .title
{
    padding: 15px;
    color: #eef;
    font-size: 1.2em;
    margin-bottom: 10px;
    background: #337;

}
div.window .body
{
    padding: 22px;
}
div.window .foot
{
    padding: 15px;
    color: #eef;
    font-size: 1.1em;
    margin-top: 10px;
    background: #337;
}

div.window form input,
div.window form textarea,
div.window form a.action
{
    margin: 10px;
}

div.window input[type=text],
div.window form textarea
{
    padding: 5px;
    border: 1px solid #ccf;
}

/*menu*/
div.menu
{
    display: inline-block;
    /*
    max-height: 20px;
    padding: 2px;
    */
}

div.menu ul
{
    position:absolute;
    height: 0;
    overflow:hidden;
    transition: all 1s;
    -moz-transition: all 1s;
    background: #2c3e50;
    margin-left: 5px;
}

div.menu:hover ul
{
    height: auto;
    z-index: 50;
}

div.menu ul li
{
    list-style: none;
    padding: 2px;
}

div.menu ul li a.action
{
    display: block;
    margin: 0px;
}

/* feedback */
div.feedback-container
{
    position: fixed;
    top: 0px;
    right: 0px;
}

div.feedback-container div.msg
{
    background: #aaa;
    padding: 10px;
    width: 170px;
    box-shadow: 0px 0px 4px #454;
    margin: 10px 0px;
    transition: all 1s;
}
div.feedback-container div.msg.success
{
    background: #91b797;
}
div.feedback-container div.msg.warning
{
    background: #cca232;
}
div.feedback-container div.msg.error
{
    background: #b79197;
}
